<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Notes | <%= note.title %></title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body class="container">
        <h1><%= note.title %></h1>
        <div class="d-flex">
            <span class="text-secondary">
                <a href="/">Home </a> >
                <a href="#">Notes </a>
            </span>
        </div>
        <form action="/notes/<%= note.id %>/delete" method="POST" class="d-flex">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <div class="d-block">
            <p class="w-100"> <%= note.contents %> </p>
            <p class="w-100"><small><%= new Date(note.created_at) %></small></p>
        </div>
    </body>
</html>
